html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: url(../img/bg.jpg) repeat ;
    cursor: default;
}

@main_color_1: #bddbdd;
@main_color_2: #59A5A5;

#game_container{
    width: 900px;
    margin: 0 auto;
    position: relative;
    padding: 0;
    bottom: 0;
    top: 0;
    background: #fff;
    border: solid 1px @main_color_1;
    min-height: 100%;
}

.clear{
    clear: both;
    padding: 0;
    margin: 0;
}

#desk{
    border: solid 1px @main_color_2;
    margin: 50px;
    width: 402px;
    position: relative;
}

#desk .desk_row{
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
    border: none;
    position: relative;
}

#desk .desk_row .desk_cell{
    width: 50px;
    height: 50px;
    margin: 0;
    padding: 0;
    border: none;
    float: left;
    position: relative;
}

#desk .desk_row .desk_cell.white_cell{
    background: #fff;
}
#desk .desk_row .desk_cell.black_cell{
    background: @main_color_2;
}

.legend_y {
    position: absolute;
    height: 100%;
    width: 15px;
    line-height: 50px;
    text-align: center;
}

.legend_y_l{
    left: -20px;
}

.legend_y_r{
    right: -20px;
}


.legend_x {
    position: absolute;
    height: 30;
    width: 50px;
    text-align: center;
    line-height: 30px;
}

.legend_x_t{
    top: -30px;
}

.legend_x_b{
    bottom: -30px;
}

.checker{
    border-radius: 20px;
    -moz-border-radius: 20px; /* Firefox */
    -webkit-border-radius: 20px; /* Safari, Google Chrome */
    -khtml-border-radius: 20px; /* KHTML */
    -o-border-radius: 20px; /* Opera */
    -ms-border-radius: 20px; /* IE8 */
    -icab-border-radius: 20px; /* Icab */
    width: 40px;
    height: 40px;
    position: absolute;
    cursor: pointer;
}
.checker_white{
     background-color: #fff;
 }

.checker_black{
    background-color: #000;
}

.checker_select{
    border: solid 2px #ff7f00;
}

.crown{
    background: url("../img/crown.png") center no-repeat;
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

#left_panel{
    width: 250px;
    float: left;
    padding: 30px;
}

#desk_panel{
    float: left;
    padding: 30px;
    margin: 0 auto;
    position: relative;

}


.player{
    margin-bottom: 20px;
}




.game_caption{
    text-align: center;
}


.new_part{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.new_part_bg{
    position: fixed;
    opacity: 0.7;
    background: #000;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

div#wins{
    width: 500px;
    height: 350px;
    position: relative;
    margin: 0 auto;
    top: 100px;
    background: @main_color_1;
}

.form-horizontal{
    margin: 0 auto;
    width: 400px;
    padding-top: 30px;
}

.form-group button{
    margin: 0 auto;
}

.caption{
    font-size: 40px;
    padding-top: 35px;
    text-transform: uppercase;
}
.main_score{
    font-size: 30px;
}
.underline{
    text-decoration: underline;
    font-size: 18px;
}

.ch_btn{
    margin-bottom: 20px;
}