<!DOCTYPE html>
<html ng-app="GameApp">
<head lang="en">
    <meta charset="UTF-8">
    <title>Шашки</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet/less" type="text/css" href="css/styles.less" />
    <script src="js/less.min.js" type="application/javascript"></script>
    <script src="js/jquery-1.11.2.min.js" type="application/javascript"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>

    <script src="js/angular.min.js" type="application/javascript"></script>
    <script src="js/angular-local-storage.js" type="application/javascript"></script>
    <script src="js/app.js" type="application/javascript"></script>
    <script src="js/models/Desk.js" type="application/javascript"></script>
    <script src="js/models/Checker.js" type="application/javascript"></script>
    <script src="js/models/Player.js" type="application/javascript"></script>
    <script src="js/models/Game.js" type="application/javascript"></script>

</head>
<body  ng-controller="GameController">
<div id="game_container" ng-click="game.check_end_step()">
    <div id="left_panel">
        <div class="player" id="player1">
            <div class="underline">{{ game.players[0].name }}</div>
            <div>{{toHHMMSS(game.timer1)}}</div>
            <div class="checkers_over">
                Срублено шашек: {{ game.score[0]}}
            </div>
        </div>
        <div class="player" id="player2">
            <div class="underline">{{game.players[1].name}}</div>
            <div>{{toHHMMSS(game.timer2)}}</div>
            <div class="checkers_over">
                Срублено шашек: {{ game.score[1]}}
            </div>
        </div>
        <div>
        </div>
        <div id="restart_panel">
            <button ng-click="reload_game()" type="button" class="ch_btn btn btn-default" aria-label="Left Align">
                Новая партия
            </button>
            <button ng-click="change_players()" type="button" class="ch_btn btn btn-default" aria-label="Left Align">
                Сменить игроков
            </button>
        </div>
        <div class="clear"></div>
    </div>
    <div id="desk_panel">
        <div class="game_caption">{{ game.players[0].name }} (белые) - <span class="main_score">{{ game.globalscore[0]}}</span> : <span class="main_score">{{ game.globalscore[1]}}</span> - {{game.players[1].name}} (черные)</div>
        <div class="game_caption underline">Ход <span ng-show="game.current_player == 0" >белых</span><span ng-show="game.current_player == 1" >черных</span></div>

        <div id="desk">
            <div class="desk_row" ng-repeat="row in game.desk.map track by $index">
                <div x="{{$index}}" y="{{$parent.$index}}" class="desk_cell" ng-class="{false:'white_cell',true:'black_cell'}[cell==1]" ng-repeat="cell in row track by $index">
                    <div ng-if="$parent.$index == 0" class="legend_x legend_x_t">{{ letters[$index]}}</div>
                    <div ng-if="$parent.$index == row.length-1" class="legend_x legend_x_b">{{letters[$index]}}</div>
                </div>
                <div class="legend_y legend_y_r">{{game.desk.map.length - $index}}</div>
                <div class="legend_y legend_y_l">{{game.desk.map.length - $index}}</div>
            </div>
        </div>
        <div ng-show="win_message" class="alert alert-info" role="alert">{{win_message}}</div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>

</div>
<div ng-show="show_new_window" class="new_part">
    <div class="new_part_bg" ng-click = "hide_window()"></div>
    <div id="wins">
        <div class="caption text-center">ШАШКИ</div>
        <form name="newgameform" class="form-horizontal">

            <div class="form-group">
                <label>Введите имя первого игрока:</label>
                <div class="controls">
                    <input id="player1_name" ng-model="sub_name1" name="player1_name" class="form-control" type="text" required/>
                    <span ng-show="newgameform.player1_name.$dirty && newgameform.player1_name.$error.required">*данное поле обязательно к заполнению</span>
                </div>
            </div>
            <div class="form-group">
                <label>Введите имя второго игрока:</label>
                <input id="player2_name" ng-model="sub_name2" name="player2_name" class="form-control" type="text"  required/>
                <span ng-show="newgameform.player2_name.$dirty && newgameform.player2_name.$error.required">*данное поле обязательно к заполнению</span>
            </div>
            <div class="form-group text-center">
                <button ng-click="run()" type="button" class="btn btn-default" aria-label="Left Align">
                    Начать!
                </button>
                <button ng-click="hide_window()" type="button" class="btn btn-default" aria-label="Left Align">
                    Отмена
                </button>
            </div>

        </form>

    </div>
</div>
</body>
</html>